.hdAluno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.hdAluno h2 {
    color: #7159c1;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    padding: 20px 120px;
    padding-bottom: 25px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    background-color: #7159c1;
    padding: 8px;
    border-radius: 5px;
}

.ptAside1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ptAside1 h3 {
    font-size: 30px;
    color: whitesmoke;
}

.ptAside2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: whitesmoke;
}

.user img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.ptAside3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    color: white;
}

.ptAside3 h4 {
    color: white;
    font-size: 20px;
}

.ptAside3 h5 {
    font-size: 17px;
}

.ptAside3 h4 {
    color: white;
    font-size: 20px;
}

.ptAside3 h5 {
    font-size: 17px;
}

.ptAside4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: #7159c1;
    border-radius: 5px;
}

.ptAside4 h3 {
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    width: 80%;
}

.ptAside4 form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55%;
    width: 80%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    border-radius: 5px;
}

form h3 {
    font-size: 24px;
}

.boxTurma {
    height: 18%;
    width: 80%;
    border: 0px solid;
    background-color: mintcream;
}

.boxTurma::placeholder{
    padding-left: 8px;
    color: #7159c1;
    font-size: 14px;
}

.btnTurma {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
    border: 0px solid;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #453675;
    cursor: pointer;
}

.btnTurma:hover {
    color: #ffffff;
    background-color: #4a3b7c;
}

.msgTurma {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    height: 20px;
}