/* ########################### SECTION 1 ########################### */

.secOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    padding: 50px 120px;
}

.scOne-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    width: 50%;
}

.scOne-left h1 {
    font-size: 40px;
    color: #4b4b4b;
}

.scOne-left p {
    font-size: 20px;
    color: #9a8ebf;
}

.scOne-left div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btnIndex {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 220px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-color: #7159c1;
    padding: 1px;
    font-weight: bold;
}

.btnIndex:hover {
    background-color: #8167d8;
}

.scOne-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 350px;
}

.scOne-right img {
    width: 270px;
}

/* ########################### SECTION 2 ########################### */

.secTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    padding: 50px 120px;
    background-color: #7159c1;
}

.scTwo-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 350px;
    width: 50%;
}

.scTwo-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 350px;

}

.scTwoContentText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 220px;
}

.scTwo-right h1 {
    font-size: 30px;
    font-weight: bolder;
    color: #ffffff;
}

.scTwo-right h3 {
    color: #e4e4e4;
}

.scTwo-right p {
    font-size: 18px;
    color: #cfcece;
}

.scTwo-left img {
    width: 270px;
}

/* ########################### SECTION 3 ########################### */

.secThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    padding: 50px 120px;
}

.scThree-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 22%;
    width: 100%;}

.scThree-up h1 {
    font-size: 30px;
    font-weight: bolder;
    color: #4b4b4b;
}

.scThree-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 78%;
    width: 100%;
}

.scThree-down p {
    font-size: 18px;
    color: #9a8ebf;
}