body {
    text-align: center;
}

header {

}

.hdJogo {
    background-color: rgb(187, 164, 240);
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fase {
    color: #7159c1;
    font-size: 23px;
}

.explicacao {
    color: #433572;
    font-size: 23px;
}

h2 {
    font-size: 20px;
    color: #7159c1;
}

h3 {
    color: #7159c1;
    font-weight: bold;
}